<!DOCTYPE html>
<html>
  <head>
    <title>Crowdlabeling</title>
  </head>

  <body>
    <% if (content == 'room') { %>
      <% include room.ejs %>
    <% } else { %>
      Welcome.
    <% } %>
  </body>
