<!DOCTYPE html>
<html>
  <head>
    <title>Crowdlabeling</title>

    <!-- Add CSS Files -->
    <!-- <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" /> -->
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap-flaty.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/layout.css">

  </head>

  <body>
    <nav class="navbar navbar-default navbar-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/#">CrowdLabeling</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <% if (content == 'room') { %>
        <% include room.ejs %>
      <% } else { %>

        <img src="/public/logo_text.png" style="width:100%; margin-bottom: 30px;">

        <h2>Welcome.</h2>

        <p><strong>CrowdLabeling</strong> is a web-application written in <em>NodeJS</em> allowing users to label pictures together !</p>
        <p>Labels are then saved on the server and can be used for any purpose.</p>

        <a href="/room/<%= rooms + 1 %>/1" title=""><button id="create_room_btn" class="btn btn-primary">Create a new room</button></a>

      <% } %>
    </div>

    <footer class="footer">
      <div class="container">
        <p>Authors : Nicolas Audebert &bull; Danilo Jun Shibata</p>
      </div>
    </footer>

    <!-- Add JavaScript Files -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/bootbox/bootbox.js"></script>
  </body>
</html>
