<!DOCTYPE html>
<html>
  <head>
    <title>Crowdlabeling</title>

    <!-- Add CSS Files -->
    <!-- <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" /> -->
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap-flaty.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/layout.css">

  </head>

  <body>
    <nav class="navbar navbar-default navbar-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/#">CrowdLabeling</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <h1>CrowdLabeling <img src="/public/logo.png" style="height: 60px; margin-left: 10px;"></h1>
    </div>

    <div class="container">
      <% if (content == 'room') { %>
        <% include room.ejs %>
      <% } else { %>
        <h2>Welcome.</h2>

	<p><strong>CrowdLabeling</strong> is a web-application written in <em>NodeJS</em> allowing users to label pictures together ! Labels are then saved on the server and can be used for any purpose.</p>

        <p>
		<button class="btn btn-primary" href="/room/<%= rooms + 1 %>/1">Create a new room</button>
	</p>
      <% } %>
    </div>

    <footer class="footer">
      <div class="container">
        <p>Authors : Nicolas Audebert &bull; Danilo Jun Shibata</p>
      </div>
    </footer>

    <!-- Add JavaScript Files -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/bootbox/bootbox.js"></script>
  </body>
</html>
