<h1>A collaborative app for image labeling</h1>
  <p>Room number : <%= room %></p>
  <p>Image :</p>

  <canvas id="canvas" width=300 height=300></canvas>

  <div id="chat">
    <h2>Chat</h2>
  </div>

  <input type="text" name="message" id="chat_input" />
  <button id="chat_button"/>Send</button>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    // Init socket.io
    var socket = io.connect('<%= base_path %>');

    socket.emit('join_room', '<%= room %>');

    var button = document.getElementById('chat_button');
    var input = document.getElementById('chat_input');

    // Add listener to the button to send messages
    button.onclick = function(){
        var message = input.value;
        socket.emit('chat_message', message);
        var new_message = document.createElement('p');
        new_message.innerHTML = message;
        document.getElementById('chat').appendChild(new_message);
        console.log('Chat message sent : ' + input.value);
    }

    // Add messages from server to the chat div
    socket.on('chat_message', function(message) {
        console.log('Chat message received : ' + message);
        var new_message = document.createElement('p');
        new_message.innerHTML = message;
        console.log(new_message);
        document.getElementById('chat').appendChild(new_message);
    });
  </script>
  <script>
    function getMousePos(canvas, event){
        var rect = canvas.getBoundingClientRect();
        return {
            x: event.clientX - rect.left,
            y: event.clientY - rect.top
        };
    }

    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    canvas.addEventListener('mousedown', function(event){
        var mousePos = getMousePos(canvas, event);
        console.log(mousePos);
        var tag = window.prompt('Which tag do you want to add ?', 'tag');
        context.lineWidth = 1;
        context.fillStyle = "#CC00FF";
        context.lineStyle = "#ffff00";
        context.fillText(tag, mousePos.x, mousePos.y);
        socket.emit('new_tag', tag);
    });
 
    var img = new Image();
    img.src = '<%= base_path + image_path %>';
    img.onload = function(){
        context.drawImage(img, 0, 0);
    };
  </script>

