html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  padding: 20px 20px;
  background-color: rgb(24, 188, 156);
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
#create_room_btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}