#chat_text {
  height: 79%;
  overflow: scroll;
  list-style: none;
  background: #e5e5e5;
  margin: 0;
  padding: 0 0 25px 0;
  
}

#chat_text li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}

li.info div {
  width: 100%;
  text-align: center;
}

li.self {
  justify-content: flex-end;
  align-items: flex-end;
}

li.self .avatar {
  order: 2;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

li.other .message {
  order: 1;
  border-bottom-right-radius: 0;
}

li.other .avatar {
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.message {
  background: white;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.message time {
  font-size: 1.2rem;
  color: #ccc;
}

#progress_confirm {
  background-color: gray;
  width: 80%;
  height: 100%;
}

canvas {
  border: 1px solid black;
}

#image {
  height: 87.7%;
  position: relative;
}

#overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

#progress_confirm {
    width: 70%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: #ffffff;
    z-index: 11;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    padding-left: 20px;
    padding-right: 20px;
}